ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style: [pre-commit.ci] auto fixes [...]"
  autoupdate_commit_msg: "ci: [pre-commit.ci] autoupdate"

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.9
    hooks:
      - id: typos

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.18
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        files: "^src/"
        additional_dependencies:
          - useq-schema >=0.4.7
          - pymmcore_plus >=0.9.0
          # # unfortunately... bringing these in brings in qtpy
          # # which has too many attr-defined errors ...
          # # and selectively ignoring them isn't working
          # - superqt
          # - pymmcore_widgets
