name: docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install -e .[docs]

      - name: Test docs
        if: github.event_name == 'pull_request'
        run: mkdocs build --strict

      - name: Deploy docs
        if: github.ref == 'refs/heads/main'
        run: mkdocs gh-deploy --force
